* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(35, 35, 109, 0.865);
}

.grid-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}

.container1,
.container2,
.container6 {
    background-color: rgb(8, 201, 8);
    padding: 20px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.container3,
.container5,
.container7 {
    background-color: rgb(244, 14, 14);
    padding: 20px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.container4,
.container8 {
    background-color:rgb(254, 171, 18);
    padding: 20px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.container1 {
    grid-row: 1/4;
}

.container2 {
    grid-column: 2/4;
}

.container6 {
    grid-row: 2/4;
    grid-column: 4/5
}